<!-- <ngx-masonry> -->
    <!-- <div ngxMasonryItem class="masonry-item" *ngFor="let archiveTask of archived"> -->
    <div *ngFor="let archiveTask of archived">
        <mat-card class="example-card">
            <mat-card-header>
              
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{archiveTask.todoTitle}}</mat-card-title>
            </mat-card-header>
            
            <!-- <img mat-card-image src={{todo?.image?.imageUrl}} alt={{todo?.image?.imageName}}> -->
            <mat-card-content class="mat-card-content">
              <p>
                {{archiveTask.todoContent}}
              </p>
                   
             {{archiveTask.dueDate}}
             {{archiveTask.isHighPriority}}
            </mat-card-content>
            <mat-card-actions>

                <button mat-menu-item (click)="removeFromArchives(archiveTask)">
                  <span><mat-icon>archive</mat-icon> Remove From Archives</span>
                </button>
                <button mat-menu-item (click)="deleteTodo(archiveTask)">
                  <span><mat-icon>delete_outline</mat-icon> Delete</span>
                </button>
            </mat-card-actions>
          </mat-card>
   </div>
  <!-- </ngx-masonry> -->
