.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container{
  background-color: skyblue;
}

/* .login-image{
    
  width: 230%;
  height: 1000px;
} */

.box{
  height: 100%
}

