<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="z-index:1000">
      <div style="width: 100%;">
        <div style="display: flex; float: left;">
          <span>ToDo</span>
        </div>
        <div style="display: flex; float: right;">
          <!-- <button mat-button *ngIf=selectedCategory>{{selectedCategory.categoryName}}</button> -->
          <!-- <button mat-button (click)="createTodo(selectedCategory)"> -->
            <!-- <mat-icon> list_alt</mat-icon> Create Todo
          </button> -->
          <button mat-button (click)="accountInfo()">
            <mat-icon>account_circle</mat-icon>{{currentUser}}
          </button>
          <!-- <button mat-button>
            <mat-icon>notifications</mat-icon> Notifications
          </button> -->
          <button mat-button (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> Logout
          </button>

        </div>
      </div>
    </mat-toolbar>

    <!-- Add Content Here -->

    <div class="row">
      <app-category-list class="app-category-list" (selectedCategory)="onSelectedCategory($event)"
        [displayCategories]="displayCategories"></app-category-list>
      <app-show-todos [selectedCategory]="selectedCategory" [todosToDisplay]="todosToDisplay" [refresh]="refresh"
      (selectionChanged)="onSelectionChanged($event)" [archivesToDisplay]="archivesToDisplay" ></app-show-todos>

    </div>
    <div *ngIf="selectedCategory" class="newTask">
      <button mat-fab color="primary" (click)="createTodo(selectedCategory)">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <footer id="footer">
      <hr>

      <p class="copyRight">COPYRIGHT © TODO-TRACKER 2021. ALL RIGHTS RESERVED.</p>

      <div class="footerContent">
      <a routerLink="about-us" class="aboutUs">About Us</a>
       <a routerLink="privacy-policy" class="privacyPolicy">Privacy Policy</a> 
    </div>
    
    </footer>
  </mat-sidenav-content>

</mat-sidenav-container>
