<mat-toolbar color="primary" style="z-index:1000">
    <div style="width: 100%;">
      <div style="display: flex; float: left;">
        <button mat-button routerLink="/">ToDo</button>
      </div>
      <div style="display: flex; float: right;">
        <button mat-button (click)="logout()">
          <mat-icon>exit_to_app</mat-icon> Logout
        </button>

      </div>
    </div>
  </mat-toolbar>

  <div class="about">
      
  <h1>About Us</h1>
 <p> Welcome to Todo Tracker, your number one source for creating, saving and sharing Todo's tasks. We're dedicated to giving you the very best services, with a focus on best UI, less time wastage and quick response time. </p>

 <p> Founded in 2021 by Tejas and AmithRaj, Todo Tracker has come a long way from its beginning. When founders first started out, their passion for developing something new, drove them to do tons of research so that Todo Tracker can offer you  "the world's most advanced todo website. We serve customers all over the world, and are thrilled that we're able to turn our passion into their benefit.
</p>

<p>We hope you enjoy our service as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us at admin@todotracker.com  </p>

<p class="sincerly">
  Sincerely,
</p>
<p class="lastWord">
  
  Todo Tracker Team
</p>
</div>

