<button class="addCategory" (click)="newCategory()" type="button" mat-raised-button >+ Add Category</button>

<mat-selection-list #category [multiple]="false" (selectionChange)="onSelectionChange($event)" class="categoryList">
    <h1>Categories</h1>
    <mat-list-option *ngFor="let category of categories" [value]="category">
      <div class="mat-line">
          {{category.categoryName}}
        <button class="btn" mat-icon-button #trigger=matMenuTrigger [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
       </button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editCategory(category)"><mat-icon>edit</mat-icon> Edit</button>
        <button mat-menu-item (click)="deleteCategory(category)"><mat-icon>delete</mat-icon> Delete Category</button>
      </mat-menu>
    </mat-list-option>
  </mat-selection-list>
  <router-outlet></router-outlet>

