<div class="formContainer">
    <form [formGroup]="createTodoForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card class="shipping-card">
            <mat-card-header>
                <mat-card-title>Create Todo</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Task Title" formControlName="todoTitle">
                        </mat-form-field>
                        <mat-error *ngIf="createTodoForm.controls['todoTitle'].hasError('required')">
                            Task Title is <strong>required</strong>
                        </mat-error>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <textarea matInput placeholder="Task Content" formControlName="todoContent"></textarea>
                        </mat-form-field>
                        <mat-error *ngIf="createTodoForm.controls['todoContent'].hasError('required')">
                            Task Content is <strong>required</strong>
                        </mat-error>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        <label class="btn btn-default p-0">
                            <input type="file" (change)="selectFile($event)" formControlName="imageUrl"/>
                        </label>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter Due date</mat-label>
                            <input matInput [matDatepicker]="picker" [min]="todayDate" id="dueDate"
                                formControlName="dueDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <label id="example-radio-group-label">Set Priority: </label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" [value]=true>
                        high
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" [value]=false>
                        low
                    </mat-radio-button>
                </mat-radio-group>
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="!createTodoForm.valid">Submit</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>