<div class="formContainer">
    <form [formGroup]="createCategoryForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card class="shipping-card">
            <mat-card-header>
                <mat-card-title>Create Category</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Category Name" formControlName="categoryName">
                        </mat-form-field>
                        <mat-error *ngIf="createCategoryForm.controls['categoryName'].hasError('required')">
                            Category Name is <strong>required</strong>
                        </mat-error>
                    </div>
                </div>

                
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
